<div class="table-container">
	<h1>Table</h1>

	<button (click)="addRow()">Add Row</button>
	<button (click)="logData()" >Log</button>

	<form [formGroup]="tableFormGroup">

		<table mat-table
			   matSort
			   #matTableSchool
			   formArrayName="rows"
			   [dataSource]="tableData"
			   class="mat-elevation-z8"
		>

			<!--		SECTION action-->
			<ng-container matColumnDef="action">
				<th mat-header-cell *matHeaderCellDef> Action </th>
				<td mat-cell *matCellDef="let row; let i = index" [formGroupName]="i">
					<button mat-button (click)="submit(row, i)"
							[disabled]="isInvalid(row)">
						Submit
					</button>

					<button mat-button (click)="edit(row, i)">
						Edit
					</button>

					<button mat-button (click)="delete(row, i)" [disabled]="isEditing">
						Delete
					</button>
				</td>
			</ng-container>

			<!--		SECTION Name-->
			<ng-container matColumnDef="name">
				<th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
				<td mat-cell *matCellDef="let row; let i = index" [formGroupName]="i"
				(dblclick)="enableCell(row, i, 'name', $event)">
					<p *ngIf="row.get('name').disabled">{{ row.get('name').value }}</p>
					<input *ngIf="row.get('name').enabled" type="text" formControlName="name">
				</td>
			</ng-container>

			<!--		SECTION Sub-->
			<ng-container matColumnDef="subject">
				<th mat-header-cell *matHeaderCellDef mat-sort-header> Sub </th>
				<td mat-cell *matCellDef="let row; let i = index" [formGroupName]="i"
					(dblclick)="enableCell(row, i, 'subject', $event)">
					<p *ngIf="row.get('subject').disabled">{{ row.get('subject').value }}</p>
					<input *ngIf="row.get('subject').enabled" type="text" formControlName="subject">
				</td>
			</ng-container>

			<!--		SECTION Marks-->
			<ng-container matColumnDef="marks">
				<th mat-header-cell *matHeaderCellDef mat-sort-header> Marks </th>
				<td mat-cell *matCellDef="let row; let i = index" [formGroupName]="i"
					(dblclick)="enableCell(row, i, 'marks', $event)">
					<p *ngIf="row.get('marks').disabled">{{ row.get('marks').value }}</p>
					<input *ngIf="row.get('marks').enabled" type="text" formControlName="marks">
				</td>
			</ng-container>

			<!--		SECTION Passed-->
			<ng-container matColumnDef="passed">
				<th mat-header-cell *matHeaderCellDef mat-sort-header> Passed </th>
				<td mat-cell *matCellDef="let row; let i = index" [formGroupName]="i"
					(click)="setPassedCheck(row, $event)">
					<input type="checkbox"
						   [checked]="str2Bool(row.get('passed').value)"
					>
				</td>
			</ng-container>

<!--			SECTION Misc Name-->
			<ng-container matColumnDef="misc.name">
				<th mat-header-cell *matHeaderCellDef mat-sort-header> Misc.Name </th>
				<td mat-cell *matCellDef="let row; let i = index" [formGroupName]="i"
					(dblclick)="enableCell(row, i, 'misc.name', $event)">
					<ng-container formGroupName="misc">
						<p *ngIf="row.get('misc.name').disabled">{{ row.get('misc.name').value }}</p>
						<input *ngIf="row.get('misc.name').enabled" type="text" formControlName="name">
					</ng-container>
				</td>
			</ng-container>


			<!--		SECTION definitions-->
			<tr mat-header-row *matHeaderRowDef="displayedCols"></tr>
			<tr mat-row *matRowDef="let row; columns: displayedCols;"></tr>
		</table>

	</form>
</div>
